.styled-table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #cf2338;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #cf2338;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000;
}

/* [View User list] Hint text, filter icon for Type filter are incorrect  */
.user__filter__input .ant-select-arrow .anticon > svg {
    display: none;
}

.user__filter__input .ant-select-arrow .anticon::before {
    content: " ";
    display: inline-block;
    background: #fff url("https://res.cloudinary.com/vietoffice/image/upload/v1637399386/2055816_huu0p7.png") center / 14px 14px no-repeat;
    width: 14px;
    height: 14px;
}